.circolare {
  width: 62px;
  left: -9px;
  top: 0px;
  left: 9.57%;
  right: -15.22%;
  top: 5%;
  bottom: -2.17%;
    border-radius:90%; 
    margin-top: 6px;  
  
    position: absolute;
    
  }

  .circleCard1 {
    width: 32px;
    left: -9px;
    top: 0px;
    left: 3.57%;
    right: -15.22%;
    top: 55%;
    bottom: -2.17%;
      border-radius:90%; 
      margin-top: 6px;  
    
      position: absolute;

    }


  .circleCardContact {
    width: 32px;
    left: -9px;
    top: 0px;
    left: 6.57%;
    right: -15.22%;
    top: 15%;
    bottom: -2.17%;
      border-radius:90%; 
      margin-top: 0px;  
    
      position: absolute;
  
  
      
    }

    .friend-list li a img {
      float: left;
      width: 20px;
      height: 20px;
      margin-right: 10px;
      border-radius:90%; 
    }

    .img-circle {
      border-radius:90%; 

    }

    .imgCircleMess{
      margin-top: -30px;
    }
