.circolare {
  height: 47px;
  width: 62px;
  left: -9px;
  top: 0px;
  left: 9.57%;
  right: -15.22%;
  top: 5%;
  bottom: -2.17%;
    border-radius:999em;   
  -moz-border-radius:999em; 
  -webkit-border-radius:999em;
    -o-border-radius: 999em;  
    position: absolute;


    
  }