.line{
    width:430px;
    margin-top:40px;
    max-width: 214%;
}

.pie{
    width:430px;
    margin-top:150px; 
    max-width: 214%;
}

.pie-chart {
    background:
        radial-gradient(
            circle closest-side,
            white 0,
            white 53.68%,
            transparent 53.68%,
            transparent 61%,
            white 0
        ),
        conic-gradient(
            from 242deg,
            #4ea65d 0,
            #4ea65d 66.7%,
            #f28e2c 0,
            #f28e2c 88.9%,
            #e15759 0,
            #e15759 100%
    );
    position: relative;
    width: 446px;
    height: 301px;
    margin-top: 44px;
    margin-left: -24px;
}
.pie-chart h2 {
    position: absolute;
    margin: 1rem;
}
.pie-chart cite {
    position: absolute;
    bottom: 0;
    font-size: 80%;
    padding: 1rem;
    color: gray;
}
.pie-chart figcaption {
    position: absolute;
    bottom: 11em;
    right: 3em;
    font-size: smaller;
    text-align: right;
}
.pie-chart span:after {
    display: inline-block;
    content: "";
    width: 0.8em;
    height: 0.8em;
    margin-left: 0.4em;
    height: 0.8em;
    border-radius: 0.2em;
    background: currentColor;
}

.chart-container {
    width: 223%;
    height: 83%;
    margin: 90px 0px 0px -10px;
    display: block;
    
}
  
