.delete{
    position: absolute;
    left: 70.83%;
    right: 20.83%;
    top: 65.5%;
    bottom: 12.5%;
}

.deleteContact{
    position: absolute;
    left: 11.83%;
    right: 20.83%;
    top: 37.5%;
    bottom: 12.5%;

/* icon_gray */

background: #C2CFE0;
}

.write{
    position: absolute;
    left: 65.83%;
    right: 12.49%;
    top: 65.5%;
    bottom: 12.5%;

}

.orange{
    position: absolute;
    left: 55.83%;
    right: 12.49%;
    top: 65.5%;
    bottom: 12.5%;

}
.green{
    position: absolute;
    left: 60.83%;
    right: 12.49%;
    top: 65.5%;
    bottom: 12.5%;

}

.bluCircle{
    position: absolute;
    width: 24px;
    height: 24px;
    left: calc(50% - 24px/2 - 371.5px);
    top: 170px;
    /* Accent blue */
    background: #109CF1;
}

.ellipseBlue{
    box-sizing: border-box;
    position: absolute;
    width: 8px;
    height: 8px;
    left: 24px;
    top: 175px;
    /* Accent blue */
    border: 2px solid #109CF1;
}

.greenChart{
    box-sizing: border-box;

/* position: absolute;
 */width: 8px;
height: 8px;
left: 320px;
top: 196px;
margin-right: 5px;

/* green */

}

.ellipseLine{
    position: absolute;
width: 8px;
height: 8px;
left: 21px;
    top: -27px;

/* Accent blue */

}