.delete{
    position: absolute;
    left: 70.83%;
    right: 20.83%;
    top: 65.5%;
    bottom: 12.5%;
    background: #C2CFE0;
}

.write{
    position: absolute;
    left: 65.83%;
    right: 12.49%;
    top: 65.5%;
    bottom: 12.5%;
    background: #C2CFE0;

}

.orange{
    position: absolute;
    left: 55.83%;
    right: 12.49%;
    top: 65.5%;
    bottom: 12.5%;
    background: #C2CFE0;

}
.green{
    position: absolute;
    left: 60.83%;
    right: 12.49%;
    top: 65.5%;
    bottom: 12.5%;
    background: #C2CFE0;

}

.bluCircle{
    position: absolute;
    width: 24px;
    height: 24px;
    left: calc(50% - 24px/2 - 371.5px);
    top: 170px;
    /* Accent blue */
    background: #109CF1;
}