.bell{box-sizing: border-box;

    position: relative;
    left: 16.67%;
    right: 16.67%;
    top: 10.42%;
    bottom: 8.33%;
    margin-left:950px;
    
    /* white */
    
    background: #FFFFFF;
    /* icon_gray */
    
    border: 1px solid #C2CFE0;}