a:link {
    color: rgb(0, 0, 0);
  }
  
  /* visited link */
  a:visited {
    color: green;
  }
  
  /* mouse over link */
  a:hover {
    color: rgb(241, 9, 9);
  }
  
  /* selected link */
  a:active {
    color: blue;
  }