@media screen and (max-width: 512px) {
  .col-md-3{
/*     display: none;
 */  }

 .recD1 {
  position: absolute;
  width: 445px;
  height: 344px;
  left: -622px;
  top: 814px;
 }

  .containerDashboard{
flex-wrap: wrap;
  }

  .topBar{
    margin-left: 63px;
  }

  .sidebar{
    position: absolute;
    width: 62px;
        
}
.circolare {
  width: 34px;
  left: 3.57%;
}

.sierra, .emailAvatar, .sideList{
  /* Sierra Ferguson */

display: none;
}

.sass{
  left: 5px;
}

.blueCircle{
  width: 25px;
  height: 25px;
  margin-left: -4px;
  max-width: 200%;
}


.topnav a, .topnav input[type=text] {
  float: none;
  display: block;
  text-align: left;
  width: 60%;
  margin: 0;
  padding: 10px;
}
.topnav input[type=text] {
  border: 1px solid #ccc;
}

.row>* {
  flex-shrink: 0;
  width: 100%;
  flex-wrap: wrap;
  padding-right: calc(var(--bs-gutter-x) * .5);
  padding-left: calc(var(--bs-gutter-x) * .5);
}

.button{
  margin: 55px 0px 0px 220px;
  padding: 0px 10px;
  background-color: #2ED47A;
}

.buttonEnded{
  margin: 50px 0px 0px 220px;
  padding: 0px 25px;
  background-color: #F7685B;

  }

  .buttonContact{
    margin: 20px 0px 0px 270px;
    padding: 0px 10px;
    background: #109CF1;
    box-shadow: 0px 4px 10px rgb(16 156 241 / 24%);
    border-radius: 4px;
    font-size:10px;
  }

  .circleCardContact {
    width: 24px;
    left: -10px;
    top: 12px;
    left: 7.57%;
    right: -15.22%;
  }

  .signContact {
    position: absolute;
    left: 13%;
    right: 0%;
    top: 30%;
    bottom: 0%;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 12px;}

    .email {
      position: absolute;
      left: 4%;
      right: 0%;
      top: -46%;
      bottom: 0%;
      margin-left: 150px;}

    .social, .level, .quote, .time{
      display:none;
    }
  .sign{
    position: absolute;
    left: 18%;

}


.orange{
position: absolute;
left: 45.83%;
right: 12.49%;
top: 65.5%;
bottom: 12.5%;

}
.green{
position: absolute;
left: 50.83%;
right: 12.49%;
top: 65.5%;
bottom: 12.5%;

}
.write{
position: absolute;
left: 55.83%;
right: 12.49%;
top: 65.5%;
bottom: 12.5%;

}

.delete{
  position: absolute;
  left: 60.83%;
  right: 20.83%;
  top: 65.5%;
  bottom: 12.5%;
}

.chat_area li .chat-img1 img {
  position: absolute;
  width: 20px;
  height: 20px;
  left: 270.33px;
  top: 115px;
  background: url(image);
}

.imgCircleMess {
margin-top: -11px;
margin-left: -13px;
}

.chat_area .chat-body1 {
margin-left: -11px;
margin-top: 3px;
}

.chatMessage{

font-size: 10px;
line-height: 17px;
letter-spacing: 0.01em;
color: #334D6E;
 }


.friend-name{
font-size: 10px;
line-height: 11px;
color: #109CF1;

 }

 .last-message {
 
  font-size: 8px;
  line-height: 15px;
  letter-spacing: 0.01em;
  color: #192A3E;
  margin-left:29px;
   }


.time{
margin-left: 106px;
font-size: 7px;
line-height: 9px;
text-align: right;
letter-spacing: 0.01em;
color: #90A0B7;

}



.friend-list li a .chat-alert{
right: 16px;
top: 20px;
}
}

@media all and (min-width: 512px) and (max-width: 1024px) {
  .col-md-3{
/*     display: none;
 */  }

 .recD1 {
  position: absolute;
  width: 445px;
  height: 344px;
  left: -622px;
  top: 814px;
}

  .circleCardContact {
    width: 24px;
    left: -10px;
    top: 12px;
    left: 7.57%;
    right: -15.22%;
  }

  .signContact {
    position: absolute;
    left: 13%;
    right: 0%;
    top: 30%;
    bottom: 0%;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 12px;}

    .email {
      position: absolute;
      left: 4%;
      right: 0%;
      top: -46%;
      bottom: 0%;
      margin-left: 150px;}

    .social, .level, .quote{
      display:none;
    }

  .containerDashboard{
    flex-wrap: wrap;
      }

  .row>* {
    flex-shrink: 0;
    width: 100%;
    flex-wrap: wrap;

    /* max-width: 100%; */
    padding-right: calc(var(--bs-gutter-x) * .5);
    padding-left: calc(var(--bs-gutter-x) * .5);

}

  .row1{
    flex-shrink: 0;
     width: 100%;
      /* max-width: 100%; */
      padding-right: calc(var(--bs-gutter-x) * .5);
      padding-left: calc(var(--bs-gutter-x) * .5);
    }

 .row2{
  flex-shrink: 0;
/*   width: 100%;
 */  /* max-width: 100%; */
  padding-right: calc(var(--bs-gutter-x) * .5);
  padding-left: calc(var(--bs-gutter-x) * .5);
}
 
  .topBar{
    margin-left: 63px;
  }

  .sidebar{
    position: absolute;
    width: 62px;
        
}
.circolare {
  width: 34px;
  left: 27.57%;
}

.sierra, .emailAvatar, .sideList{
  /* Sierra Ferguson */

display: none;
}

.sass{
  left: 5px;
}

.blueCircle{
  width: 25px;
  height: 25px;
  margin-left: -4px;
  max-width: 200%;
}


.topnav a, .topnav input[type=text] {
  float: none;
  display: block;
  text-align: left;
  width: 60%;
  margin: 0;
  padding: 10px;
}
.topnav input[type=text] {
  border: 1px solid #ccc;
}
    .buttonContact{
      margin: 20px 0px 0px 600px;
      font-size:10px;
    }

    .button{
      margin: 55px 0px 0px 340px;
      padding: 0px 10px;
      background-color: #2ED47A;
    }
    .buttonEnded {
      margin: 50px 0px 0px 340px;
      padding: 0px 25px;
      background-color: #F7685B;
    }


  .buttonContact{
    margin: 20px 0px 0px 440px;
    padding: 0px 10px;
    background: #109CF1;
    box-shadow: 0px 4px 10px rgb(16 156 241 / 24%);
    border-radius: 4px;
  }

    
}


@media all and (min-width: 1024px) and (max-width: 1200px) {
  .button{
    margin: 55px 0px 0px 350px;
    padding: 0px 10px;
    background-color: #2ED47A;
  }

  .buttonEnded {
    margin: 50px 0px 0px 350px;
    padding: 0px 25px;
    background-color: #F7685B;
  }

  .buttonContact{
    margin: 20px 0px 0px 890px;
  }

  .form-check {
    display: block;
    min-height: 1.5rem;
    padding-left: 1.0 em;
    margin-bottom: 0.125rem;

  }

  .form-check .form-check-input {
    float: left;
    margin-left: -4em;}
}

@media all and (min-width: 1200px) and (max-width: 2560px) {

}
