.rec1Card1{
    position: absolute;
height: 116px;
left: 24px;
right: 24px;
top: 153px;
margin-top:60px;
/* white */

background: #FFFFFF;
/* card shadow */

box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.08);
border-radius: 4px;
}

.card{
    margin-top: 10px;
}

.cardDay{
    margin-top:130px;
    border-width: 0px;
}

.card-body {
    flex: 1 1 auto;
    padding: 2rem 1rem;
}

.card-body-contact{
    flex: 1 1 auto;
    padding: 2rem 1rem;
    padding: 10px 10px 10px 10px;
}

.rec1CardContact{
    position: absolute;
    height: 36px;
    left: 4px;
    right: 24px;
    top: 145px;
    margin-top: -33px;
/* white */

background: #FFFFFF;
/* card shadow */

box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.08);
border-radius: 4px;
}


