.sidebar{
    /* side_nav_bg */


position: absolute;
width: 256px;
left: 0px;
top: 0px;
bottom: 0px;

/* white */

background: #FFFFFF;
/* sidebar shadow */

box-shadow: 6px 0px 18px rgba(0, 0, 0, 0.06);
}