.button{
    margin: 50px 0px 0px 400px;
    padding: 0px 10px;
    background-color: #2ED47A;
}

.buttonEnded{
    margin: 50px 0px 0px 400px;
    padding: 0px 25px;
    background-color: #F7685B;

    }

.buttonContact{
    margin: 20px 0px 0px 1050px;
    padding: 0px 10px;
    background: #109CF1;
/* accent button shadow */

box-shadow: 0px 4px 10px rgba(16, 156, 241, 0.24);
border-radius: 4px;
}

.buttonEnded{
    margin: 50px 0px 0px 400px;
    padding: 0px 25px;
    background-color: #F7685B;

    }
