.stw{
    /* Show: This week */


position: absolute;
width: 97px;
height: 18px;
right: 37px;
top: 17px;
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 18px;
/* identical to box height */

letter-spacing: 0.01em;

/* filter_gray */

color: #6A707E;
margin-left: 288px;}