@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap');

.text {
    font-family: 'Poppins';
    font-style: normal;
    color: #192A3E;
}

.sass{
    position: absolute;
width: 99px;
height: 26px;
left: 24px;
top: 7px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 25px;

/* Accent blue */

color: #109CF1;
}

.sierra{
    /* Sierra Ferguson */


position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;
margin-top: 50px;
margin-left:90px;

font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 21px;
/* identical to box height */


/* black */

color: #192A3E;

}

.email{
    /* s.ferguson@gmail.com */


position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;
margin-left:90px;
margin-top: 70px;

font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 11px;
line-height: 16px;
/* identical to box height */

letter-spacing: 0.01em;

/* gray */

color: #90A0B7;
}

.list{
    /* Dashboard */


position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;
margin-left:-5px;
margin-top:120px;
list-style-type: none;
word-spacing: -2px;
line-height: 80%;

font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 13px;
line-height: 20px;
/* identical to box height */

letter-spacing: 0.01em;


}

.list2{
    /* Dashboard */



margin-left:-5px;
margin-top:400px;

font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 13px;
line-height: 20px;
/* identical to box height */

letter-spacing: 0.01em;

/* Accent blue */

}

a{
    text-decoration: none;

}

.status{
    /* Status */


position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 13px;
line-height: 20px;
/* identical to box height */

text-align: center;
letter-spacing: 0.01em;

/* dark_blue */

color: #334D6E;

opacity: 0.5;
}

.cardText{
    /* Send benefit review by Sunday */


position: absolute;
left: 0%;
right: 0%;
top: 5%;
bottom: 0%;
margin: 10px 0px 0px 20px;
font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 15px;
line-height: 22px;
/* identical to box height */

letter-spacing: 0.01em;

/* table_black */

color: #323C47;
}

.dueDate{
    /* Due date: */


position: absolute;
width: 64px;
height: 20px;
left: 20px;
top: 40px;

font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 13px;
line-height: 20px;
/* identical to box height */

letter-spacing: 0.01em;

/* dark_gray text */

color: #4C5862;

opacity: 0.5;
}

.dateCard{
    /* December 23, 2018 */


position: absolute;
width: 222px;
height: 20px;
left: 80px;
top: 40px;

font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 13px;
line-height: 20px;
/* identical to box height */

letter-spacing: 0.01em;

/* dark_gray text */

color: #4C5862;
}

.stw{
    /* Show: This week */


position: absolute;
width: 97px;
height: 18px;
right: 37px;
top: 17px;
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 18px;
/* identical to box height */

letter-spacing: 0.01em;

/* filter_gray */

color: #6A707E;
margin-left: 288px;}

.stwContact{
    position: absolute;
    width: 81px;
    height: 18px;
    left: 22px;
    top: 10px;
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    /* identical to box height */
    
    letter-spacing: 0.01em;
    
    /* filter_gray */
    
    color: #6A707E;
margin-left: 8px;
margin-top: 10px;
}

.greyCard{

position: absolute;
height: 18px;
right: 37px;
top: 17px;
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 18px;
/* identical to box height */

letter-spacing: 0.01em;

/* filter_gray */

color: #6A707E;
    margin-left: 388px;
}

.sign{
    /* George Fields */


position: absolute;
left: 12%;
right: 0%;
top: 70%;
bottom: 0%;

font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 13px;
line-height: 20px;
/* identical to box height */

letter-spacing: 0.01em;

/* table_gray */

color: #707683;
}

.form-check .form-check-input {
    float: left;
    margin-left: -2.5em;
}

.signContact{
    position: absolute;
    left: 11%;
    right: 0%;
    top: 27%;
    bottom: 0%;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 22px;
    letter-spacing: 0.01em;

/* table_black */

color: #323C47;
}

.name{
    position: absolute;
    left: 6%;
    right: 0%;
    top: 26%;
bottom: 0%;

font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 13px;
line-height: 20px;
/* identical to box height */

letter-spacing: 0.01em;

/* dark_blue */

color: #334D6E;

opacity: 0.5;
}


.email{
    /* lindsey.stroud@gmail.com */


position: absolute;
left: 4%;
    right: 0%;
    top: -46%;
bottom: 0%;
margin-left: 257px;
    margin-top: 36px;
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 13px;
line-height: 20px;
/* identical to box height */

letter-spacing: 0.01em;

/* table_gray */

color: #707683;
}


.emailAvatar{
    left: -65%;
    right: 0%;
    top: 5%;
}

.social{
    left: 26%;
 
}

.level{
    left: 42%;
 
}

.quote{
    left: 57%;
 
}

.time{
    left: 69%;
 
}

.show{
    /* Show more */


position: absolute;
left: 0px;
right: 0px;
top: 470px;
bottom: 0px;

font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 13px;
line-height: 20px;
/* identical to box height */

text-align: center;
letter-spacing: 0.01em;

/* Accent blue */

color: #109CF1;
}
 .numberDay{
    position: absolute;
left: 0%;
right: 0%;
top: 50%;
bottom: 0%;

font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 18px;
/* identical to box height */

text-align: center;
letter-spacing: 0.01em;

/* profile_gray */

color: #4C5862;
 }

 .nameDay{

position: absolute;
left: 0%;
right: 0%;
top: 10%;
bottom: 0%;

font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 13px;
line-height: 20px;
/* identical to box height */

text-align: center;
letter-spacing: 0.01em;

/* dark_blue */

color: #334D6E;

opacity: 0.5;
 }

 .span{
    color: #109CF1;
 }

 .spanWhite{
    color: #ffffff;
    top: 38%;

 }

 .selected{
    position: absolute;
    left: 6%;
    right: 0%;
    top: 27%;
bottom: 0%;

font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 13px;
line-height: 20px;
/* identical to box height */

letter-spacing: 0.01em;

/* dark_blue */

color: #334D6E;
 }

 .pie{
    /* 60% */


position: absolute;
left: -335%;
    right: 0%;
    top: -418%;
    bottom: 0%;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 53px;
line-height: 84px;
text-align: center;

/* green */

color: #2ED47A;

 }

 .active{
    position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 10px;
line-height: 15px;
letter-spacing: 0.01em;

/* black */

color: #192A3E;
 }

 .chartLine{
    /* Closed deals */


    position: absolute;
    left: 8%;
        right: 0%;
        top: -11%;
    bottom: 0%;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 15px;
    letter-spacing: 0.01em;

/* black */

color: #192A3E;
 }

 .nameChat{
    position: absolute;
left: 16%;
right: 0%;
top: 0%;
bottom: 4.55%;

font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 21px;
/* identical to box height */


/* Accent blue */

color: #109CF1;
 }

 .friend-name{

left: 0%;
right: 0%;
top: 0%;
bottom: 4.55%;

font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 21px;
/* identical to box height */


/* Accent blue */

color: #109CF1;

 }

 .last-message {
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 18px;
/* identical to box height */

letter-spacing: 0.01em;

/* black */

color: #192A3E;
margin-left:29px;
 }

 .time{
    position: absolute;
    left: 0%;
    right: 2%;
    top: -40%;
    bottom: 0%;
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 15px;
    text-align: right;
    letter-spacing: 0.01em;
    
    /* gray */
    
    color: #90A0B7;
    
 }

 .statusChat{
    position: absolute;
    left: 28%;
    right: 0%;
    top: 200%;
bottom: 0%;

font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 9px;
line-height: 14px;
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.01em;

/* white */

color: #FFFFFF;
 }

 .nameChatArea{
/*     position: absolute;
 */left: 0%;
right: 0%;
top: 0%;
bottom: 4.17%;

font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 15px;
line-height: 22px;
/* identical to box height */

letter-spacing: 0.01em;

/* black */

color: #192A3E;
 }

 .nameMessage{
/*     position: absolute;
 */    left: 10%;
    right: 0%;
    top: -74%;
bottom: 0%;
margin: -33px 0px 0px 30px;
font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 18px;
display: flex;
align-items: center;
letter-spacing: 0.01em;

/* black */

color: #192A3E;
 }

.timeMessChat{
/*     position: absolute;
 */
    left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 10px;
line-height: 15px;
text-align: right;
letter-spacing: 0.01em;

/* gray */

color: #90A0B7;
} 

 .chatMessage{
/*     position: absolute;
 */left: 0%;
right: 0%;
top: 0%;
bottom: -33.33%;

font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 13px;
line-height: 21px;
letter-spacing: 0.01em;

/* dark_blue */

color: #334D6E;
 }

 

