.topBar{
    /* top_bar_bg */

    height: 60px;
    width: 1184px;
    left: 0px;
    top: 0px;
    border-radius: 0px;
        
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    margin-left: 250px;


    /* white */

    background: #FFFFFF;
}