@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:weight@100;200;300;400;500;600;700;800&display=swap");
.sidebar {
  position: absolute;
  width: 256px;
  height: 803px;
  left: 0px;
  top: 0px;
  bottom: 0px;
  /* white */
  background: #7e5858;
  /* sidebar shadow */
  box-shadow: 6px 0px 18px rgba(0, 0, 0, 0.06);
}

.sidebarChat {
  position: absolute;
  width: 256px;
  height: 503px;
  left: 0px;
  top: 0px;
  bottom: 0px;
  /* white */
  background: #7e5858;
  /* sidebar shadow */
  box-shadow: 6px 0px 18px rgba(0, 0, 0, 0.06);
}

body {
  padding-top: 0;
  font-size: 12px;
  color: #777;
  background: #7e5858;
  font-family: "Open Sans", sans-serif;
  margin-top: 20px;
}

.bg-white {
  background-color: #7e5858;
}

.friend-list {
  list-style: none;
  margin-left: -40px;
}

.friend-list li {
  border-bottom: 1px solid #eee;
}

.friend-list li a img {
  float: left;
  width: 45px;
  height: 45px;
  margin-right: 10px;
}

.friend-list li a {
  position: relative;
  display: block;
  padding: 10px;
  transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
}

.friend-list li.active a {
  background-color: #f1f5fc;
}

.friend-list li a .friend-name,
.friend-list li a .friend-name:hover {
  color: #777;
}

.friend-list li a .last-message {
  width: 65%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.friend-list li a .time {
  position: absolute;
  top: 10px;
  right: 8px;
}

small, .small {
  font-size: 85%;
}

.friend-list li a .chat-alert {
  position: absolute;
  right: 8px;
  top: 27px;
  font-size: 10px;
  padding: 3px 5px;
}

.chat-message {
  padding: 60px 20px 115px;
}

.chat {
  list-style: none;
  margin: 0;
}

.chat-message {
  background: #f9f9f9;
}

.chat li img {
  width: 45px;
  height: 45px;
  border-radius: 50em;
  -moz-border-radius: 50em;
  -webkit-border-radius: 50em;
}

img {
  max-width: 100%;
}

.chat-body {
  padding-bottom: 20px;
}

.chat li.left .chat-body {
  margin-left: 70px;
  background-color: #fff;
}

.chat li .chat-body {
  position: relative;
  font-size: 11px;
  padding: 10px;
  border: 1px solid #f1f5fc;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}

.chat li .chat-body .header {
  padding-bottom: 5px;
  border-bottom: 1px solid #f1f5fc;
}

.chat li .chat-body p {
  margin: 0;
}

.chat li.left .chat-body:before {
  position: absolute;
  top: 10px;
  left: -8px;
  display: inline-block;
  background: #fff;
  width: 16px;
  height: 16px;
  border-top: 1px solid #f1f5fc;
  border-left: 1px solid #f1f5fc;
  content: "";
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
}

.chat li.right .chat-body:before {
  position: absolute;
  top: 10px;
  right: -8px;
  display: inline-block;
  background: #fff;
  width: 16px;
  height: 16px;
  border-top: 1px solid #f1f5fc;
  border-right: 1px solid #f1f5fc;
  content: "";
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
}

.chat li {
  margin: 15px 0;
}

.chat li.right .chat-body {
  margin-right: 70px;
  background-color: #fff;
}

.chat-box {
  padding: 15px;
  border-top: 1px solid #eee;
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
}

.primary-font {
  color: #3c8dbc;
}

a:hover, a:active, a:focus {
  text-decoration: none;
  outline: 0;
}

.text {
  font-family: "Poppins";
  font-style: normal;
  color: #192A3E;
}

.sass {
  position: absolute;
  width: 164px;
  height: 26px;
  left: 24px;
  top: 7px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  /* Accent blue */
  color: #109CF1;
}

.sierra {
  position: absolute;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;
  margin-top: 50px;
  margin-left: 90px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  color: #192A3E;
}

.email {
  position: absolute;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;
  margin-left: 90px;
  margin-top: 70px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 11px;
  line-height: 16px;
  /* identical to box height */
  letter-spacing: 0.01em;
  /* gray */
  color: #90A0B7;
}

.list {
  /* Dashboard */
  position: absolute;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;
  margin-left: -5px;
  margin-top: 120px;
  list-style-type: none;
  word-spacing: -2px;
  line-height: 80%;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 20px;
  /* identical to box height */
  letter-spacing: 0.01em;
}

.list2 {
  /* Dashboard */
  margin-left: -5px;
  margin-top: 400px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 20px;
  /* identical to box height */
  letter-spacing: 0.01em;
}

a {
  text-decoration: none;
}

.status {
  /* Status */
  position: absolute;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 20px;
  /* identical to box height */
  text-align: center;
  letter-spacing: 0.01em;
  /* dark_blue */
  color: #334D6E;
  opacity: 0.5;
}

.cardText {
  /* Send benefit review by Sunday */
  position: absolute;
  left: 0%;
  right: 0%;
  top: 5%;
  bottom: 0%;
  margin: 10px 0px 0px 20px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
  /* identical to box height */
  letter-spacing: 0.01em;
  /* table_black */
  color: #323C47;
}

.dueDate {
  /* Due date: */
  position: absolute;
  width: 64px;
  height: 20px;
  left: 20px;
  top: 40px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 20px;
  /* identical to box height */
  letter-spacing: 0.01em;
  /* dark_gray text */
  color: #4C5862;
  opacity: 0.5;
}

.dateCard {
  /* December 23, 2018 */
  position: absolute;
  width: 222px;
  height: 20px;
  left: 80px;
  top: 40px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 20px;
  /* identical to box height */
  letter-spacing: 0.01em;
  /* dark_gray text */
  color: #4C5862;
}

.stw {
  /* Show: This week */
  position: absolute;
  width: 97px;
  height: 18px;
  right: 37px;
  top: 17px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  /* identical to box height */
  letter-spacing: 0.01em;
  /* filter_gray */
  color: #6A707E;
  margin-left: 288px;
}

.stwContact {
  position: absolute;
  width: 81px;
  height: 18px;
  left: 22px;
  top: 10px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  /* identical to box height */
  letter-spacing: 0.01em;
  /* filter_gray */
  color: #6A707E;
  margin-left: 8px;
  margin-top: 10px;
}

.greyCard {
  position: absolute;
  height: 18px;
  right: 37px;
  top: 17px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  /* identical to box height */
  letter-spacing: 0.01em;
  /* filter_gray */
  color: #6A707E;
  margin-left: 388px;
}

.sign {
  /* George Fields */
  position: absolute;
  left: 12%;
  right: 0%;
  top: 70%;
  bottom: 0%;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 20px;
  /* identical to box height */
  letter-spacing: 0.01em;
  /* table_gray */
  color: #707683;
}

.form-check .form-check-input {
  float: left;
  margin-left: -2.5em;
}

.signContact {
  position: absolute;
  left: 11%;
  right: 0%;
  top: 27%;
  bottom: 0%;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
  letter-spacing: 0.01em;
  /* table_black */
  color: #323C47;
}

.name {
  position: absolute;
  left: 6%;
  right: 0%;
  top: 26%;
  bottom: 0%;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 20px;
  /* identical to box height */
  letter-spacing: 0.01em;
  /* dark_blue */
  color: #334D6E;
  opacity: 0.5;
}

.email {
  /* lindsey.stroud@gmail.com */
  position: absolute;
  left: 4%;
  right: 0%;
  top: -46%;
  bottom: 0%;
  margin-left: 257px;
  margin-top: 36px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 20px;
  /* identical to box height */
  letter-spacing: 0.01em;
  /* table_gray */
  color: #707683;
}

.emailAvatar {
  left: -65%;
  right: 0%;
  top: 5%;
}

.social {
  left: 26%;
}

.level {
  left: 42%;
}

.number {
  left: 57%;
}

.time {
  left: 69%;
}

.show {
  /* Show more */
  position: absolute;
  left: 0px;
  right: 0px;
  top: 470px;
  bottom: 0px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 20px;
  /* identical to box height */
  text-align: center;
  letter-spacing: 0.01em;
  /* Accent blue */
  color: #109CF1;
}

.numberDay {
  position: absolute;
  left: 0%;
  right: 0%;
  top: 50%;
  bottom: 0%;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  /* identical to box height */
  text-align: center;
  letter-spacing: 0.01em;
  /* profile_gray */
  color: #4C5862;
}

.nameDay {
  position: absolute;
  left: 0%;
  right: 0%;
  top: 10%;
  bottom: 0%;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 20px;
  /* identical to box height */
  text-align: center;
  letter-spacing: 0.01em;
  /* dark_blue */
  color: #334D6E;
  opacity: 0.5;
}

.span {
  color: #109CF1;
}

.spanWhite {
  color: #ffffff;
  top: 38%;
}

.selected {
  position: absolute;
  left: 6%;
  right: 0%;
  top: 27%;
  bottom: 0%;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 20px;
  /* identical to box height */
  letter-spacing: 0.01em;
  /* dark_blue */
  color: #334D6E;
}

.pie {
  /* 60% */
  position: absolute;
  left: -335%;
  right: 0%;
  top: -418%;
  bottom: 0%;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 53px;
  line-height: 84px;
  text-align: center;
  /* green */
  color: #2ED47A;
}

.active {
  position: absolute;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 15px;
  letter-spacing: 0.01em;
  /* black */
  color: #192A3E;
}

.chartLine {
  /* Closed deals */
  position: absolute;
  left: 8%;
  right: 0%;
  top: -11%;
  bottom: 0%;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 15px;
  letter-spacing: 0.01em;
  /* black */
  color: #192A3E;
}

.nameChat {
  position: absolute;
  left: 16%;
  right: 0%;
  top: 0%;
  bottom: 4.55%;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  /* identical to box height */
  /* Accent blue */
  color: #109CF1;
}

.friend-name {
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 4.55%;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  /* Accent blue */
  color: #109CF1;
}

.last-message {
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  /* identical to box height */
  letter-spacing: 0.01em;
  /* black */
  color: #192A3E;
  margin-left: 29px;
}

.time {
  position: absolute;
  left: 0%;
  right: 2%;
  top: -40%;
  bottom: 0%;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 15px;
  text-align: right;
  letter-spacing: 0.01em;
  /* gray */
  color: #90A0B7;
}

.statusChat {
  position: absolute;
  left: 28%;
  right: 0%;
  top: 200%;
  bottom: 0%;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 9px;
  line-height: 14px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.01em;
  /* white */
  color: #FFFFFF;
}

.nameChatArea {
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 4.17%;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
  /* identical to box height */
  letter-spacing: 0.01em;
  /* black */
  color: #192A3E;
}

.nameMessage {
  left: 10%;
  right: 0%;
  top: -74%;
  bottom: 0%;
  margin: -33px 0px 0px 30px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  display: flex;
  align-items: center;
  letter-spacing: 0.01em;
  /* black */
  color: #192A3E;
}

.timeMessChat {
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 15px;
  text-align: right;
  letter-spacing: 0.01em;
  /* gray */
  color: #90A0B7;
}

.chatMessage {
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: -33.33%;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 21px;
  letter-spacing: 0.01em;
  /* dark_blue */
  color: #334D6E;
}

.topBar {
  /* top_bar_bg */
  height: 60px;
  width: 1184px;
  left: 0px;
  top: 0px;
  border-radius: 0px;
  position: absolute;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;
  margin-left: 250px;
  /* white */
  background: #FFFFFF;
}

.height {
  height: 50vh;
}

.search {
  position: relative;
  box-shadow: 0 0 40px rgba(51, 51, 51, 0.1);
}

.search input {
  height: 60px;
  width: 1184px;
  left: 0px;
  top: 0px;
  border-radius: 0px;
  text-indent: 25px;
  border: 0px solid #d6d4d4;
}

.search input:focus {
  box-shadow: none;
  border: 2px solid blue;
}

.search .fa-search {
  position: absolute;
  top: 10px;
  left: 16px;
}

.search button {
  position: absolute;
  top: 10px;
  right: 5px;
  height: 20px;
  width: 10px;
  margin-right: 10px;
}

.form-control {
  border: 0px solid #d6d4d4;
}

.circolare {
  width: 62px;
  left: -9px;
  top: 0px;
  left: 9.57%;
  right: -15.22%;
  top: 5%;
  bottom: -2.17%;
  border-radius: 90%;
  margin-top: 6px;
  position: absolute;
}

.circleCard1 {
  width: 32px;
  left: -9px;
  top: 0px;
  left: 3.57%;
  right: -15.22%;
  top: 55%;
  bottom: -2.17%;
  border-radius: 90%;
  margin-top: 6px;
  position: absolute;
}

.circleCardContact {
  width: 32px;
  left: -9px;
  top: 0px;
  left: 6.57%;
  right: -15.22%;
  top: 15%;
  bottom: -2.17%;
  border-radius: 90%;
  margin-top: 0px;
  position: absolute;
}

.friend-list li a img {
  float: left;
  width: 20px;
  height: 20px;
  margin-right: 10px;
  border-radius: 90%;
}

.img-circle {
  border-radius: 90%;
}

.imgCircleMess {
  margin-top: -30px;
}

.bell {
  box-sizing: border-box;
  position: relative;
  left: 16.67%;
  right: 16.67%;
  top: 10.42%;
  bottom: 8.33%;
  margin-left: 950px;
  /* white */
  background: #FFFFFF;
  /* icon_gray */
  border: 1px solid #C2CFE0;
}

.page {
  display: flex;
  flex-wrap: wrap;
  margin-left: 50px;
}

.page > * {
  padding: 1rem;
}

.sidebar {
  background: var(--color-primary-x-light);
  outline: 1px solid var(--color-primary);
  flex-grow: 1;
  flex-basis: 12rem;
}

.content {
  flex-basis: 0;
  flex-grow: 2;
  min-width: 70%;
}

/* Extrinsic sizes on this page simulate the small viewport for you */
body {
  max-width: 50rem;
  min-height: unset;
  padding: 1rem;
  background: var(--color-off-white);
  margin: 1rem auto;
}

.page {
  background: white;
  border: 1px solid var(--color-stroke);
}

.date {
  /* 23 December, Sunday */
  position: absolute;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: -4.55%;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
  /* identical to box height */
  letter-spacing: 0.01em;
  color: #192A3E;
  margin: 75px 0px 0px 30px;
}

.buttonContact {
  margin: 20px 0px 0px 1050px;
  padding: 0px 10px;
  background: #109CF1;
  box-shadow: 0px 4px 10px rgba(16, 156, 241, 0.24);
  border-radius: 4px;
}

.delete {
  position: absolute;
  left: 70.83%;
  right: 20.83%;
  top: 65.5%;
  bottom: 12.5%;
}

.deleteContact {
  position: absolute;
  left: 11.83%;
  right: 20.83%;
  top: 37.5%;
  bottom: 12.5%;
  /* icon_gray */
  background: #C2CFE0;
}

.write {
  position: absolute;
  left: 65.83%;
  right: 12.49%;
  top: 65.5%;
  bottom: 12.5%;
}

.orange {
  position: absolute;
  left: 55.83%;
  right: 12.49%;
  top: 65.5%;
  bottom: 12.5%;
}

.green {
  position: absolute;
  left: 60.83%;
  right: 12.49%;
  top: 65.5%;
  bottom: 12.5%;
}

.search .fa-search {
  position: absolute;
  top: 25px;
  left: 16px;
}

.bluCircle {
  width: 25px;
  height: 25px;
  margin-left: 0px;
  max-width: 200%;
}

.ellipseBlue {
  box-sizing: border-box;
  position: absolute;
  width: 8px;
  height: 8px;
  left: 24px;
  top: 175px;
  /* Accent blue */
  border: 2px solid #109CF1;
}

.greenChart {
  box-sizing: border-box;
  width: 8px;
  height: 8px;
  left: 320px;
  top: 196px;
  margin-right: 5px;
}

.ellipseLine {
  position: absolute;
  width: 8px;
  height: 8px;
  left: 21px;
  top: -27px;
}

.bluCircleChat {
  position: absolute;
  width: 10px;
  height: 10px;
  margin-left: 0px;
  max-width: 200%;
  left: -50%;
  right: 0%;
  top: 20%;
  bottom: 0%;
  background: #109CF1;
  border-radius: 4px;
}

.sendRead {
  position: absolute;
  width: 16px;
  height: 16px;
  right: -15px;
  top: 4px;
  max-width: 200%;
}

.grey {
  background: #C2CFE0;
}

.greeChat {
  position: absolute;
  width: 6px;
  height: 6px;
  left: 182px;
  top: 25px;
  /* green */
  background: #2ED47A;
}

a:link {
  color: rgb(0, 0, 0);
}

/* visited link */
a:visited {
  color: green;
}

/* mouse over link */
a:hover {
  color: rgb(241, 9, 9);
}

/* selected link */
a:active {
  color: blue;
}

@media all and (min-width: 320px) and (max-width: 512px) {
  .col-md-3 {
    /*     display: none;
     */
  }
  .containerDashboard {
    flex-wrap: wrap;
  }
  .topBar {
    margin-left: 63px;
  }
  .sidebar {
    position: absolute;
    width: 62px;
  }
  .circolare {
    width: 34px;
    left: 3.57%;
  }
  .sierra, .emailAvatar, .sideList {
    /* Sierra Ferguson */
    display: none;
  }
  .sass {
    left: 5px;
  }
  .blueCircle {
    width: 25px;
    height: 25px;
    margin-left: -4px;
    max-width: 200%;
  }
  .topnav a, .topnav input[type=text] {
    float: none;
    display: block;
    text-align: left;
    width: 60%;
    margin: 0;
    padding: 10px;
  }
  .topnav input[type=text] {
    border: 1px solid #7e5858;
  }
  .row > * {
    flex-shrink: 0;
    width: 100%;
    flex-wrap: wrap;
    padding-right: calc(var(--bs-gutter-x) * 0.5);
    padding-left: calc(var(--bs-gutter-x) * 0.5);
  }
  .buttonContact {
    margin: 20px 0px 0px 270px;
    padding: 0px 10px;
    background: #109CF1;
    box-shadow: 0px 4px 10px rgba(16, 156, 241, 0.24);
    border-radius: 4px;
    font-size: 10px;
  }
  .circleCardContact {
    width: 24px;
    left: -10px;
    top: 12px;
    left: 7.57%;
    right: -15.22%;
  }
  .signContact {
    position: absolute;
    left: 13%;
    right: 0%;
    top: 30%;
    bottom: 0%;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
  }
  .email {
    position: absolute;
    left: 4%;
    right: 0%;
    top: -46%;
    bottom: 0%;
    margin-left: 150px;
  }
  .social, .level, .quote, .time {
    display: none;
  }
  .sign {
    position: absolute;
    left: 18%;
    top: 63%;
  }
  .chat_area li .chat-img1 img {
    position: absolute;
    width: 20px;
    height: 20px;
    left: 270.33px;
    top: 115px;
    background: url(image);
  }
  .imgCircleMess {
    margin-top: -11px;
    margin-left: -13px;
  }
  .chat_area .chat-body1 {
    margin-left: -11px;
    margin-top: 3px;
  }
  .chatMessage {
    font-size: 10px;
    line-height: 17px;
    letter-spacing: 0.01em;
    color: #334D6E;
  }
  .friend-name {
    font-size: 10px;
    line-height: 11px;
    color: #109CF1;
  }
  .last-message {
    font-size: 8px;
    line-height: 15px;
    letter-spacing: 0.01em;
    color: #192A3E;
    margin-left: 29px;
  }
  .time {
    margin-left: 106px;
    font-size: 7px;
    line-height: 9px;
    text-align: right;
    letter-spacing: 0.01em;
    color: #90A0B7;
  }
  .friend-list li a .chat-alert {
    right: 16px;
    top: 20px;
  }
}
@media all and (min-width: 512px) and (max-width: 1024px) {
  .col-md-3 {
    /*     display: none;
     */
  }
  .circleCardContact {
    width: 24px;
    left: -10px;
    top: 12px;
    left: 7.57%;
    right: -15.22%;
  }
  .sign {
    position: absolute;
    left: 18%;
    top: 63%;
  }
  .signContact {
    position: absolute;
    left: 13%;
    right: 0%;
    top: 30%;
    bottom: 0%;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
  }
  .email {
    position: absolute;
    left: 4%;
    right: 0%;
    top: -46%;
    bottom: 0%;
    margin-left: 150px;
  }
  .social, .level, .quote {
    display: none;
  }
  .containerDashboard {
    flex-wrap: wrap;
  }
  .row > * {
    flex-shrink: 0;
    width: 100%;
    flex-wrap: wrap;
    /* max-width: 100%; */
    padding-right: calc(var(--bs-gutter-x) * 0.5);
    padding-left: calc(var(--bs-gutter-x) * 0.5);
  }
  .row1 {
    flex-shrink: 0;
    width: 100%;
    /* max-width: 100%; */
    padding-right: calc(var(--bs-gutter-x) * 0.5);
    padding-left: calc(var(--bs-gutter-x) * 0.5);
  }
  .row2 {
    flex-shrink: 0;
    /*   width: 100%;
     */ /* max-width: 100%; */
    padding-right: calc(var(--bs-gutter-x) * 0.5);
    padding-left: calc(var(--bs-gutter-x) * 0.5);
  }
  .topBar {
    margin-left: 63px;
  }
  .sidebar {
    position: absolute;
    width: 62px;
  }
  .circolare {
    width: 34px;
    left: 27.57%;
  }
  .sierra, .emailAvatar, .sideList {
    /* Sierra Ferguson */
    display: none;
  }
  .sass {
    left: 5px;
  }
  .blueCircle {
    width: 25px;
    height: 25px;
    margin-left: -4px;
    max-width: 200%;
  }
  .topnav a, .topnav input[type=text] {
    float: none;
    display: block;
    text-align: left;
    width: 60%;
    margin: 0;
    padding: 10px;
  }
  .topnav input[type=text] {
    border: 1px solid #ccc;
  }
  .buttonContact {
    margin: 20px 0px 0px 600px;
    font-size: 10px;
  }
  .buttonContact {
    margin: 20px 0px 0px 440px;
    padding: 0px 10px;
    background: #109CF1;
    box-shadow: 0px 4px 10px rgba(16, 156, 241, 0.24);
    border-radius: 4px;
  }
}
@media all and (min-width: 1024px) and (max-width: 1200px) {
  .buttonContact {
    margin: 20px 0px 0px 890px;
  }
  .form-check {
    display: block;
    min-height: 1.5rem;
    padding-left: 1 em;
    margin-bottom: 0.125rem;
  }
  .form-check .form-check-input {
    float: left;
    margin-left: -4em;
  }
}
.sign {
  position: absolute;
  left: 13%;
  right: 0%;
  top: 64%;
}

#custom-search-input {
  background: #7e5858 none repeat scroll 0 0;
  margin: 0;
  padding: 10px;
}

#custom-search-input .search-query {
  background: #fff none repeat scroll 0 0 !important;
  border-radius: 4px;
  height: 33px;
  margin-bottom: 0;
  padding-left: 7px;
  padding-right: 7px;
}

#custom-search-input button {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: 0 none;
  border-radius: 3px;
  color: #666666;
  left: auto;
  margin-bottom: 0;
  margin-top: 7px;
  padding: 2px 5px;
  position: absolute;
  right: 0;
  z-index: 9999;
}

.search-query:focus + button {
  z-index: 3;
}

.all_conversation button {
  background: #f5f3f3 none repeat scroll 0 0;
  border: 1px solid #dddddd;
  height: 38px;
  text-align: left;
  width: 100%;
}

.all_conversation i {
  background: #e9e7e8 none repeat scroll 0 0;
  border-radius: 100px;
  color: #636363;
  font-size: 17px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  width: 30px;
}

.all_conversation .caret {
  bottom: 0;
  margin: auto;
  position: absolute;
  right: 15px;
  top: 0;
}

.all_conversation .dropdown-menu {
  background: #f5f3f3 none repeat scroll 0 0;
  border-radius: 0;
  margin-top: 0;
  padding: 0;
  width: 100%;
}

.all_conversation ul li {
  border-bottom: 1px solid #dddddd;
  line-height: normal;
  width: 100%;
}

.all_conversation ul li a:hover {
  background: #dddddd none repeat scroll 0 0;
  color: #333;
}

.all_conversation ul li a {
  color: #333;
  line-height: 30px;
  padding: 3px 20px;
}

.member_list .chat-body {
  margin-left: 47px;
  margin-top: 0;
}

.top_nav {
  overflow: visible;
}

.member_list .contact_sec {
  margin-top: 3px;
}

.member_list li {
  padding: 6px;
}

.member_list ul {
  border: 1px solid #dddddd;
}

.chat-img img {
  height: 34px;
  width: 34px;
}

.member_list li {
  border-bottom: 1px solid #dddddd;
  padding: 6px;
}

.member_list li:last-child {
  border-bottom: none;
}

.member_list {
  height: 380px;
  overflow-x: hidden;
  overflow-y: auto;
}

.sub_menu_ {
  background: #e8e6e7 none repeat scroll 0 0;
  left: 100%;
  max-width: 233px;
  position: absolute;
  width: 100%;
}

.sub_menu_ {
  background: #fcf9f9 none repeat scroll 0 0;
  border: 1px solid rgba(0, 0, 0, 0.15);
  display: none;
  left: 100%;
  margin-left: 0;
  max-width: 233px;
  position: absolute;
  top: 0;
  width: 100%;
}

.all_conversation ul li:hover .sub_menu_ {
  display: block;
}

.new_message_head button {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: medium none;
}

.new_message_head {
  background: #ffffff none repeat scroll 0 0;
  float: left;
  font-size: 13px;
  font-weight: 600;
  padding: 10px 10px;
  width: 100%;
}

.message_section {
  border: 1px solid #dddddd;
}

.chat_area {
  float: left;
  height: 300px;
  overflow-x: hidden;
  overflow-y: auto;
  width: 100%;
}

.chat_area li {
  padding: 14px 14px 0;
}

.chat_area li .chat-img1 img {
  position: absolute;
  width: 20px;
  height: 20px;
  left: 406.33px;
  top: 115px;
  background: url(image);
}

.chat_area .chat-body1 {
  margin-left: 5px;
  margin-top: 9px;
}

.chat-body1 p {
  background: #109CF1 none repeat scroll 0 0;
  padding: 10px;
  border-radius: 5px;
  color: #ffffff;
  margin-top: 20px;
}

.chat-body2 p {
  background: #FFFFFF none repeat scroll 0 0;
  padding: 10px;
  border-radius: 5px;
  color: #334D6E;
}

.chat_area .admin_chat .chat-body1 {
  margin-left: 0;
  margin-right: 50px;
}

.chat_area li:last-child {
  padding-bottom: 10px;
}

.message_write {
  background: #f5f3f3 none repeat scroll 0 0;
  float: left;
  padding: 15px;
  width: 100%;
}

.message_write textarea.form-control {
  height: 70px;
  padding: 10px;
}

.chat_bottom {
  float: left;
  margin-top: 13px;
  width: 100%;
}

.upload_btn {
  color: #777777;
}

.sub_menu_ > li a, .sub_menu_ > li {
  float: left;
  width: 100%;
}

.member_list li:hover {
  background: #428bca none repeat scroll 0 0;
  color: #fff;
  cursor: pointer;
}

.cardChat {
  border: none;
  margin-top: -13px;
  margin-bottom: -20px;
}

.friend-list {
  margin-top: 13px;
}

.message_section {
  border: 0px solid #dddddd;
  margin: 20px 0px 0px 5px;
}

.chat_area .chat-body1 {
  margin-left: 5px;
  margin-top: -5px;
}

.border-light {
  border-color: #f1f2f3 !important;
}

.bt-1 {
  border-top: 1px solid #ebebeb !important;
}

.publisher {
  position: relative;
  display: flex;
  align-items: center;
  padding: 12px 20px;
  background-color: #f9fafb;
}

.publisher > *:first-child {
  margin-left: 0;
}

.publisher > * {
  margin: 0 8px;
}

.publisher-input {
  flex-grow: 1;
  border: none;
  outline: none !important;
  background-color: transparent;
}

button, input, optgroup, select, textarea {
  font-family: Roboto, sans-serif;
  font-weight: 300;
}

.publisher-btn {
  background-color: transparent;
  border: none;
  color: #8b95a5;
  font-size: 16px;
  cursor: pointer;
  overflow: -moz-hidden-unscrollable;
  transition: 0.2s linear;
}

.file-group {
  position: relative;
  overflow: hidden;
}

.publisher-btn {
  background-color: transparent;
  border: none;
  color: #cac7c7;
  font-size: 16px;
  cursor: pointer;
  overflow: -moz-hidden-unscrollable;
  transition: 0.2s linear;
}

.file-group input[type=file] {
  position: absolute;
  opacity: 0;
  z-index: -1;
  width: 20px;
}

.text-info {
  color: #48b0f7 !important;
}

.rec1Card1 {
  position: absolute;
  height: 116px;
  left: 24px;
  right: 24px;
  top: 153px;
  margin-top: 60px;
  /* white */
  background: #FFFFFF;
  /* card shadow */
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.08);
  border-radius: 4px;
}

.card {
  margin-top: 10px;
}

.cardDay {
  margin-top: 130px;
  border-width: 0px;
}

.card-body {
  flex: 1 1 auto;
  padding: 2rem 1rem;
}

.card-body-contact {
  flex: 1 1 auto;
  padding: 2rem 1rem;
  padding: 10px 10px 10px 10px;
}

.rec1CardContact {
  position: absolute;
  height: 36px;
  left: 4px;
  right: 24px;
  top: 90px;
  margin-top: -33px;
  /* white */
  background: #FFFFFF;
  /* card shadow */
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.08);
  border-radius: 4px;
}

.rec1 {
  position: absolute;
  height: 718px;
  left: 0px;
  right: 0px;
  top: 0px;
  /* white */
  background: #FFFFFF;
  /* box shadow */
  box-shadow: 0px 6px 18px rgba(0, 0, 0, 0.06);
  border-radius: 4px;
  margin-top: 80px;
  margin-left: 30px;
}

.chat1 {
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  background: #FFFFFF;
  box-shadow: 0px 6px 18px rgba(0, 0, 0, 0.06);
  border-radius: 4px;
}

.chat2 {
  margin-left: 370px;
  position: absolute;
  height: 718px;
  left: 0px;
  right: 0px;
  top: 0px;
  /* white */
  background: #ac2626;
  /* box shadow */
  box-shadow: 0px 6px 18px rgba(0, 0, 0, 0.06);
  border-radius: 4px;
}/*# sourceMappingURL=style.css.map */