@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:weight@100;200;300;400;500;600;700;800&display=swap");
.sidebar {
  /* side_nav_bg */
  position: absolute;
  width: 256px;
  height: 803px;
  left: 0px;
  top: 0px;
  bottom: 0px;
  /* white */
  background: #FFFFFF;
  /* sidebar shadow */
  box-shadow: 6px 0px 18px rgba(0, 0, 0, 0.06);
}

body {
  padding-top: 0;
  font-size: 12px;
  color: #777;
  background: #f9f9f9;
  font-family: "Open Sans", sans-serif;
  margin-top: 20px;
}

.bg-white {
  background-color: #fff;
}

.friend-list {
  list-style: none;
  margin-left: -40px;
}

.friend-list li {
  border-bottom: 1px solid #eee;
}

.friend-list li a img {
  float: left;
  width: 45px;
  height: 45px;
  margin-right: 10px;
}

.friend-list li a {
  position: relative;
  display: block;
  padding: 10px;
  transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
}

.friend-list li.active a {
  background-color: #f1f5fc;
}

.friend-list li a .friend-name,
.friend-list li a .friend-name:hover {
  color: #777;
}

.friend-list li a .last-message {
  width: 65%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.friend-list li a .time {
  position: absolute;
  top: 10px;
  right: 8px;
}

small, .small {
  font-size: 85%;
}

.friend-list li a .chat-alert {
  position: absolute;
  right: 8px;
  top: 27px;
  font-size: 10px;
  padding: 3px 5px;
}

.chat-message {
  padding: 60px 20px 115px;
}

.chat {
  list-style: none;
  margin: 0;
}

.chat-message {
  background: #f9f9f9;
}

.chat li img {
  width: 45px;
  height: 45px;
  border-radius: 50em;
  -moz-border-radius: 50em;
  -webkit-border-radius: 50em;
}

img {
  max-width: 100%;
}

.chat-body {
  padding-bottom: 20px;
}

.chat li.left .chat-body {
  margin-left: 70px;
  background-color: #fff;
}

.chat li .chat-body {
  position: relative;
  font-size: 11px;
  padding: 10px;
  border: 1px solid #f1f5fc;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}

.chat li .chat-body .header {
  padding-bottom: 5px;
  border-bottom: 1px solid #f1f5fc;
}

.chat li .chat-body p {
  margin: 0;
}

.chat li.left .chat-body:before {
  position: absolute;
  top: 10px;
  left: -8px;
  display: inline-block;
  background: #fff;
  width: 16px;
  height: 16px;
  border-top: 1px solid #f1f5fc;
  border-left: 1px solid #f1f5fc;
  content: "";
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
}

.chat li.right .chat-body:before {
  position: absolute;
  top: 10px;
  right: -8px;
  display: inline-block;
  background: #fff;
  width: 16px;
  height: 16px;
  border-top: 1px solid #f1f5fc;
  border-right: 1px solid #f1f5fc;
  content: "";
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
}

.chat li {
  margin: 15px 0;
}

.chat li.right .chat-body {
  margin-right: 70px;
  background-color: #fff;
}

.chat-box {
  /*
    position: fixed;
    bottom: 0;
    left: 444px;
    right: 0;
  */
  padding: 15px;
  border-top: 1px solid #eee;
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
}

.primary-font {
  color: #3c8dbc;
}

a:hover, a:active, a:focus {
  text-decoration: none;
  outline: 0;
}

.text {
  font-family: "Poppins";
  font-style: normal;
  color: #192A3E;
}

.sass {
  position: absolute;
  width: 99px;
  height: 26px;
  left: 24px;
  top: 7px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  /* Accent blue */
  color: #109CF1;
}

.sierra {
  /* Sierra Ferguson */
  position: absolute;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;
  margin-top: 50px;
  margin-left: 90px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  /* identical to box height */
  /* black */
  color: #192A3E;
}

.email {
  /* s.ferguson@gmail.com */
  position: absolute;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;
  margin-left: 90px;
  margin-top: 70px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 11px;
  line-height: 16px;
  /* identical to box height */
  letter-spacing: 0.01em;
  /* gray */
  color: #90A0B7;
}

.list {
  /* Dashboard */
  position: absolute;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;
  margin-left: -5px;
  margin-top: 120px;
  list-style-type: none;
  word-spacing: -2px;
  line-height: 80%;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 20px;
  /* identical to box height */
  letter-spacing: 0.01em;
}

.list2 {
  /* Dashboard */
  margin-left: -5px;
  margin-top: 400px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 20px;
  /* identical to box height */
  letter-spacing: 0.01em;
  /* Accent blue */
}

a {
  text-decoration: none;
}

.status {
  /* Status */
  position: absolute;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 20px;
  /* identical to box height */
  text-align: center;
  letter-spacing: 0.01em;
  /* dark_blue */
  color: #334D6E;
  opacity: 0.5;
}

.cardText {
  /* Send benefit review by Sunday */
  position: absolute;
  left: 0%;
  right: 0%;
  top: 5%;
  bottom: 0%;
  margin: 10px 0px 0px 20px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
  /* identical to box height */
  letter-spacing: 0.01em;
  /* table_black */
  color: #323C47;
}

.dueDate {
  /* Due date: */
  position: absolute;
  width: 64px;
  height: 20px;
  left: 20px;
  top: 40px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 20px;
  /* identical to box height */
  letter-spacing: 0.01em;
  /* dark_gray text */
  color: #4C5862;
  opacity: 0.5;
}

.dateCard {
  /* December 23, 2018 */
  position: absolute;
  width: 222px;
  height: 20px;
  left: 80px;
  top: 40px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 20px;
  /* identical to box height */
  letter-spacing: 0.01em;
  /* dark_gray text */
  color: #4C5862;
}

.stw {
  /* Show: This week */
  position: absolute;
  width: 97px;
  height: 18px;
  right: 37px;
  top: 17px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  /* identical to box height */
  letter-spacing: 0.01em;
  /* filter_gray */
  color: #6A707E;
  margin-left: 288px;
}

.stwContact {
  position: absolute;
  width: 81px;
  height: 18px;
  left: 22px;
  top: 10px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  /* identical to box height */
  letter-spacing: 0.01em;
  /* filter_gray */
  color: #6A707E;
  margin-left: 8px;
  margin-top: 10px;
}

.greyCard {
  position: absolute;
  height: 18px;
  right: 37px;
  top: 17px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  /* identical to box height */
  letter-spacing: 0.01em;
  /* filter_gray */
  color: #6A707E;
  margin-left: 388px;
}

.sign {
  /* George Fields */
  position: absolute;
  left: 12%;
  right: 0%;
  top: 70%;
  bottom: 0%;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 20px;
  /* identical to box height */
  letter-spacing: 0.01em;
  /* table_gray */
  color: #707683;
}

.form-check .form-check-input {
  float: left;
  margin-left: -2.5em;
}

.signContact {
  position: absolute;
  left: 11%;
  right: 0%;
  top: 27%;
  bottom: 0%;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
  letter-spacing: 0.01em;
  /* table_black */
  color: #323C47;
}

.name {
  position: absolute;
  left: 6%;
  right: 0%;
  top: 26%;
  bottom: 0%;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 20px;
  /* identical to box height */
  letter-spacing: 0.01em;
  /* dark_blue */
  color: #334D6E;
  opacity: 0.5;
}

.email {
  /* lindsey.stroud@gmail.com */
  position: absolute;
  left: 4%;
  right: 0%;
  top: -46%;
  bottom: 0%;
  margin-left: 257px;
  margin-top: 36px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 20px;
  /* identical to box height */
  letter-spacing: 0.01em;
  /* table_gray */
  color: #707683;
}

.emailAvatar {
  left: -65%;
  right: 0%;
  top: 5%;
}

.social {
  left: 26%;
}

.level {
  left: 42%;
}

.quote {
  left: 57%;
}

.time {
  left: 69%;
}

.show {
  /* Show more */
  position: absolute;
  left: 0px;
  right: 0px;
  top: 470px;
  bottom: 0px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 20px;
  /* identical to box height */
  text-align: center;
  letter-spacing: 0.01em;
  /* Accent blue */
  color: #109CF1;
}

.numberDay {
  position: absolute;
  left: 0%;
  right: 0%;
  top: 50%;
  bottom: 0%;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  /* identical to box height */
  text-align: center;
  letter-spacing: 0.01em;
  /* profile_gray */
  color: #4C5862;
}

.nameDay {
  position: absolute;
  left: 0%;
  right: 0%;
  top: 10%;
  bottom: 0%;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 20px;
  /* identical to box height */
  text-align: center;
  letter-spacing: 0.01em;
  /* dark_blue */
  color: #334D6E;
  opacity: 0.5;
}

.span {
  color: #109CF1;
}

.spanWhite {
  color: #ffffff;
  top: 38%;
}

.selected {
  position: absolute;
  left: 6%;
  right: 0%;
  top: 27%;
  bottom: 0%;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 20px;
  /* identical to box height */
  letter-spacing: 0.01em;
  /* dark_blue */
  color: #334D6E;
}

.pie {
  /* 60% */
  position: absolute;
  left: -335%;
  right: 0%;
  top: -418%;
  bottom: 0%;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 53px;
  line-height: 84px;
  text-align: center;
  /* green */
  color: #2ED47A;
}

.active {
  position: absolute;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 15px;
  letter-spacing: 0.01em;
  /* black */
  color: #192A3E;
}

.chartLine {
  /* Closed deals */
  position: absolute;
  left: 8%;
  right: 0%;
  top: -11%;
  bottom: 0%;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 15px;
  letter-spacing: 0.01em;
  /* black */
  color: #192A3E;
}

.topBar {
  /* top_bar_bg */
  height: 60px;
  width: 1184px;
  left: 0px;
  top: 0px;
  border-radius: 0px;
  position: absolute;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;
  margin-left: 250px;
  /* white */
  background: #FFFFFF;
}

.rec_l {
  height: 718px;
  width: 635px;
  left: 0px;
  top: 0px;
  border-radius: 4px;
  position: absolute;
  height: 718px;
  left: 0px;
  right: 0px;
  top: 0px;
  margin-left: 350px;
  /* white */
  background: #FFFFFF;
  /* box shadow */
  box-shadow: 0px 6px 18px rgba(0, 0, 0, 0.06);
  border-radius: 4px;
}

.height {
  height: 50vh;
}

.search {
  position: relative;
  box-shadow: 0 0 40px rgba(51, 51, 51, 0.1);
}

.search input {
  height: 60px;
  width: 1184px;
  left: 0px;
  top: 0px;
  border-radius: 0px;
  text-indent: 25px;
  border: 0px solid #d6d4d4;
}

.search input:focus {
  box-shadow: none;
  border: 2px solid blue;
}

.search .fa-search {
  position: absolute;
  top: 10px;
  left: 16px;
}

.search button {
  position: absolute;
  top: 10px;
  right: 5px;
  height: 20px;
  width: 10px;
  margin-right: 10px;
}

.form-control {
  border: 0px solid #d6d4d4;
}

.circolare {
  width: 62px;
  left: -9px;
  top: 0px;
  left: 9.57%;
  right: -15.22%;
  top: 5%;
  bottom: -2.17%;
  border-radius: 90%;
  margin-top: 6px;
  position: absolute;
}

.circleCard1 {
  width: 32px;
  left: -9px;
  top: 0px;
  left: 3.57%;
  right: -15.22%;
  top: 55%;
  bottom: -2.17%;
  border-radius: 90%;
  margin-top: 6px;
  position: absolute;
}

.circleCardContact {
  width: 32px;
  left: -9px;
  top: 0px;
  left: 6.57%;
  right: -15.22%;
  top: 15%;
  bottom: -2.17%;
  border-radius: 90%;
  margin-top: 0px;
  position: absolute;
}

.bell {
  box-sizing: border-box;
  position: relative;
  left: 16.67%;
  right: 16.67%;
  top: 10.42%;
  bottom: 8.33%;
  margin-left: 950px;
  /* white */
  background: #FFFFFF;
  /* icon_gray */
  border: 1px solid #C2CFE0;
}

.rec1 {
  position: absolute;
  height: 718px;
  left: 0px;
  right: 0px;
  top: 0px;
  /* white */
  background: #FFFFFF;
  /* box shadow */
  box-shadow: 0px 6px 18px rgba(0, 0, 0, 0.06);
  border-radius: 4px;
  margin-top: 80px;
  margin-left: 30px;
}

.chat1 {
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  background: #FFFFFF;
  box-shadow: 0px 6px 18px rgba(0, 0, 0, 0.06);
  border-radius: 4px;
}

.chat2 {
  margin-left: 370px;
  position: absolute;
  height: 718px;
  left: 0px;
  right: 0px;
  top: 0px;
  /* white */
  background: #FFFFFF;
  /* box shadow */
  box-shadow: 0px 6px 18px rgba(0, 0, 0, 0.06);
  border-radius: 4px;
}

.task {
  /* 8 task completed out of 10 */
  position: absolute;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 20px;
  /* identical to box height */
  letter-spacing: 0.01em;
  /* dark_blue */
  color: #334D6E;
  margin: 15px 0px 0px 30px;
}

.progress {
  position: absolute;
  height: 4px;
  left: 24px;
  right: 24px;
  top: 52px;
  /* divider */
  background: #EBEFF2;
  border-radius: 3px;
}

.recD1 {
  position: absolute;
  width: 445px;
  height: 344px;
  left: 0px;
  top: 0px;
  /* white */
  background: #FFFFFF;
  /* box shadow */
  box-shadow: 0px 6px 18px rgba(0, 0, 0, 0.06);
  border-radius: 4px;
  margin-left: 680px;
  margin-top: 80px;
}

.page {
  display: flex;
  flex-wrap: wrap;
  margin-left: 50px;
}

.page > * {
  padding: 1rem;
}

.sidebar {
  background: var(--color-primary-x-light);
  outline: 1px solid var(--color-primary);
  flex-grow: 1;
  flex-basis: 12rem;
}

.content {
  flex-basis: 0;
  flex-grow: 2;
  min-width: 70%;
}

/* Extrinsic sizes on this page simulate the small viewport for you */
body {
  max-width: 50rem;
  min-height: unset;
  padding: 1rem;
  background: var(--color-off-white);
  margin: 1rem auto;
}

.page {
  background: white;
  border: 1px solid var(--color-stroke);
}

.date {
  /* 23 December, Sunday */
  position: absolute;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: -4.55%;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
  /* identical to box height */
  letter-spacing: 0.01em;
  color: #192A3E;
  margin: 75px 0px 0px 30px;
}

.recD2 {
  position: absolute;
  width: 445px;
  height: 344px;
  left: 0px;
  top: 0px;
  /* white */
  background: #FFFFFF;
  /* box shadow */
  box-shadow: 0px 6px 18px rgba(0, 0, 0, 0.06);
  border-radius: 4px;
  margin-left: 0px;
  margin-top: 370px;
}

.rec1Card1 {
  position: absolute;
  height: 116px;
  left: 24px;
  right: 24px;
  top: 153px;
  margin-top: 60px;
  /* white */
  background: #FFFFFF;
  /* card shadow */
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.08);
  border-radius: 4px;
}

.card {
  margin-top: 10px;
}

.cardDay {
  margin-top: 130px;
  border-width: 0px;
}

.card-body {
  flex: 1 1 auto;
  padding: 2rem 1rem;
}

.card-body-contact {
  flex: 1 1 auto;
  padding: 2rem 1rem;
  padding: 10px 10px 10px 10px;
}

.rec1CardContact {
  position: absolute;
  height: 36px;
  left: 4px;
  right: 24px;
  top: 90px;
  margin-top: -33px;
  /* white */
  background: #FFFFFF;
  /* card shadow */
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.08);
  border-radius: 4px;
}

.button {
  margin: 50px 0px 0px 400px;
  padding: 0px 10px;
  background-color: #2ED47A;
}

.buttonEnded {
  margin: 50px 0px 0px 400px;
  padding: 0px 25px;
  background-color: #F7685B;
}

.buttonContact {
  margin: 20px 0px 0px 1000px;
  padding: 0px 10px;
  background: #109CF1;
  /* accent button shadow */
  box-shadow: 0px 4px 10px rgba(16, 156, 241, 0.24);
  border-radius: 4px;
}

.buttonEnded {
  margin: 50px 0px 0px 400px;
  padding: 0px 25px;
  background-color: #F7685B;
}

.delete {
  position: absolute;
  left: 70.83%;
  right: 20.83%;
  top: 65.5%;
  bottom: 12.5%;
}

.deleteContact {
  position: absolute;
  left: 11.83%;
  right: 20.83%;
  top: 37.5%;
  bottom: 12.5%;
  /* icon_gray */
  background: #C2CFE0;
}

.write {
  position: absolute;
  left: 65.83%;
  right: 12.49%;
  top: 65.5%;
  bottom: 12.5%;
}

.orange {
  position: absolute;
  left: 55.83%;
  right: 12.49%;
  top: 65.5%;
  bottom: 12.5%;
}

.green {
  position: absolute;
  left: 60.83%;
  right: 12.49%;
  top: 65.5%;
  bottom: 12.5%;
}

.search .fa-search {
  position: absolute;
  top: 25px;
  left: 16px;
}

.bluCircle {
  /* position: absolute;
  width: 24px;
  height: 24px;
  left: calc(50% - 24px/2 - 371.5px);
  top: 170px;
  background: #109CF1; */
  width: 25px;
  height: 25px;
  margin-left: 0px;
  max-width: 200%;
}

.ellipseBlue {
  box-sizing: border-box;
  position: absolute;
  width: 8px;
  height: 8px;
  left: 24px;
  top: 175px;
  /* Accent blue */
  border: 2px solid #109CF1;
}

.greenChart {
  box-sizing: border-box;
  /* position: absolute;
   */
  width: 8px;
  height: 8px;
  left: 320px;
  top: 196px;
  margin-right: 5px;
  /* green */
}

.ellipseLine {
  position: absolute;
  width: 8px;
  height: 8px;
  left: 21px;
  top: -27px;
  /* Accent blue */
}

.line {
  width: 430px;
  margin-top: 40px;
  max-width: 214%;
}

.pie {
  width: 430px;
  margin-top: 150px;
  max-width: 214%;
}

.pie-chart {
  background: radial-gradient(circle closest-side, white 0, white 53.68%, transparent 53.68%, transparent 61%, white 0), conic-gradient(from 242deg, #4ea65d 0, #4ea65d 66.7%, #f28e2c 0, #f28e2c 88.9%, #e15759 0, #e15759 100%);
  position: relative;
  width: 446px;
  height: 301px;
  margin-top: 44px;
  margin-left: -24px;
}

.pie-chart h2 {
  position: absolute;
  margin: 1rem;
}

.pie-chart cite {
  position: absolute;
  bottom: 0;
  font-size: 80%;
  padding: 1rem;
  color: gray;
}

.pie-chart figcaption {
  position: absolute;
  bottom: 11em;
  right: 3em;
  font-size: smaller;
  text-align: right;
}

.pie-chart span:after {
  display: inline-block;
  content: "";
  width: 0.8em;
  height: 0.8em;
  margin-left: 0.4em;
  height: 0.8em;
  border-radius: 0.2em;
  background: currentColor;
}

.chart-container {
  width: 223%;
  height: 83%;
  margin: 90px 0px 0px -10px;
  display: block;
}

a:link {
  color: rgb(0, 0, 0);
}

/* visited link */
a:visited {
  color: green;
}

/* mouse over link */
a:hover {
  color: rgb(241, 9, 9);
}

/* selected link */
a:active {
  color: blue;
}

@media all and (min-width: 512px) and (max-width: 1024px) {
  .topBar {
    margin-left: 63px;
  }
  .sidebar {
    /* side_nav_bg */
    position: absolute;
    width: 62px;
  }
  .circolare {
    width: 34px;
    left: 24.57%;
  }
  .sierra, .emailAvatar, .sideList {
    /* Sierra Ferguson */
    display: none;
  }
  .sass {
    left: 5px;
  }
  .blueCircle {
    width: 25px;
    height: 25px;
    margin-left: -4px;
    max-width: 200%;
  }
  .topnav a, .topnav input[type=text] {
    float: none;
    display: block;
    text-align: left;
    width: 60%;
    margin: 0;
    padding: 10px;
  }
  .topnav input[type=text] {
    border: 1px solid #ccc;
  }
  .button {
    margin: 55px 0px 0px 220px;
    padding: 0px 10px;
    background-color: #2ED47A;
  }
  .buttonEnded {
    margin: 50px 0px 0px 220px;
    padding: 0px 25px;
    background-color: #F7685B;
  }
  .buttonContact {
    margin: 20px 0px 0px 600px;
  }
  .email {
    margin-left: 168px;
  }
  .level {
    margin-left: 157px;
  }
  .quote {
    margin-left: 125px;
  }
  .time {
    margin-left: 122px;
  }
  .sign {
    /* George Fields */
    position: absolute;
    left: 18%;
  }
  .orange {
    position: absolute;
    left: 45.83%;
    right: 12.49%;
    top: 65.5%;
    bottom: 12.5%;
  }
  .green {
    position: absolute;
    left: 50.83%;
    right: 12.49%;
    top: 65.5%;
    bottom: 12.5%;
  }
  .write {
    position: absolute;
    left: 55.83%;
    right: 12.49%;
    top: 65.5%;
    bottom: 12.5%;
  }
  .delete {
    position: absolute;
    left: 60.83%;
    right: 20.83%;
    top: 65.5%;
    bottom: 12.5%;
  }
  .recD1 {
    position: absolute;
    width: 445px;
    height: 344px;
    left: -235px;
    top: 0px;
    /* white */
    background: #FFFFFF;
    /* box shadow */
    box-shadow: 0px 6px 18px rgba(0, 0, 0, 0.06);
    border-radius: 4px;
    margin-left: 680px;
    margin-top: 80px;
  }
}/*# sourceMappingURL=style.css.map */